.footer {
	position: absolute;
	width: 100%;
	padding: 6px 0;
	background: green;
	backdrop-filter: blur(10px);
	color: whitesmoke;
	box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
	z-index: 500000000000000000000;
}

.footer-container {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.footer p {
	font-size: 14px;
	text-align: center;
	margin: 10px 0;
}

/* Social Links */
.social-links {
	display: flex;
	gap: 20px;
	justify-content: center;
}

.social-links a {
	display: inline-block;
}

.social-icon {
	width: 30px;
	height: 30px;
	transition: transform 0.3s ease;
}

.social-icon:hover {
	transform: scale(1.1); /* Animation au survol */
}

/* Responsive Styles */
@media (max-width: 768px) {
	.footer p {
		font-size: 12px;
	}

	.social-icon {
		width: 25px;
		height: 25px;
	}
}

@media (max-width: 480px) {
	.footer p {
		font-size: 10px;
	}

	.social-icon {
		width: 20px;
		height: 20px;
	}
}
